<h1 align="center">Welcome to my Application</h1>
<p align="center">Sign up <a href ='http://www.facebook.com'><button type="button">here </button></a></p>

<%= link_to "About Us", about_path %>

<%= link_to "Services", services_path %>